.fightarea{
    display: flex;
    gap: 20px;
}
#char, #monster{
    flex: 1;
}
.lifebar{
    height: 10px;
    border: 1px solid #333;
}
.lifebar .bar{
    height: inherit;
    background-color: red;
    
}
ul{
    height: 200px;
    border: 1px dotted #333;
    overflow-y:scroll;
}